/* HEADER */
.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    position: relative;
    overflow: hidden;

  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }

  .search-img{
    width: 20px;
    height: 20px;
    margin: 15px;
  }


.main-col1{
    background-color: #DCC1AB;
    
}

h1{
    margin-top: 50px !important;
}

.text-main{
    padding-left: 80px;
}

.container{
    display: inline-block;
}

.btn{
    border-radius: 20px !important;
    margin-left: 80px !important;
    margin-top: 60px !important;
    margin-bottom: 100px;
}

.arrow-img{
    height: 16px;
    transform: rotate(90deg);
    margin-top: -3px ;
}

.main-col2{
    height: auto;
    width: auto;
}

.background-img{
    height: max-content;
    width: max-content;
}

/* OFFER */

.offer{
    background-color: #F5F0EC;
    padding-bottom: 200px;
}

.offer-intro{
    padding-left: 200px;
}

.offer-title{
    padding-top: 110px;
    color: green !important;
}

.offer-header{
    margin-bottom: 50px;
}

.card-img{
    width: 44px !important;
    height: 44px;
    margin-left: 40px;
    margin-top: 40px;
}

.card{
    width: 370px !important;
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: -150px;
    border-radius: 20px !important;
    border-color: #FFFFFF !important;
}

.card-body{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.btn-link{
    color: green !important;
    margin-left: -120px !important;
}

.arrow-card{
    width: 17px;
    margin-left: 6px;
}

/* ABOUT */

.garden-col{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.garden-img{
    width: 700px;
    height: 720px;
}

.description-about{
    background-color: #1B5B31;
    color: rgb(230, 230, 230);
    padding-right: 0px !important;
    
}

.text-about{
    margin-left: 130px;
    margin-top: 110px;
}

.arrow-white{
    height: 18px;
    margin-top: -2px;
}

.btn-about{
    color: rgb(230, 230, 230) !important;
    border-color: rgb(230, 230, 230) !important ;
    margin-left: 120px !important;
}

/* PROJECTS */

.projects{
    background-color: #DCC1AB;
    padding-left: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects-title{
    color: #1B5B31;
}

/* CONTACT */

.contact-box{
    background-color: #1B5B31;
    color: #FFFFFF;
    width: 1200px !important;
    height: 300px;
    padding-top: 40px;
    padding-left: 110px !important;
    margin-left: 130px !important;
    margin-top: 80px;
    margin-bottom: 80px !important;
    
}